body {
  background-color: cornsilk;

  font-family: sans-serif;
}


.lane {
  display: inline-block;

  margin: 1em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  width: 12em;
  vertical-align: top;
}

.lane-header {
  display: flex;
  flex-direction: row;

  overflow: auto;
  padding: 1em;

  color: #efefef;
  background-color: #333;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.lane-name {
  flex-grow: 1;
}

.lane-add-note {
  float: left;
  flex-grow: 1;
  margin-right: 0.5em;
}
input {
  width: 100%;
}

.lane-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.lane-header:hover .lane-delete {
  visibility: visible;
}

.add-lane, .lane-add-note button {
  cursor: pointer;

  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.lane-delete button {
  padding: 0;

  cursor: pointer;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.notes {
  width: 100%;
  padding: 0;

  list-style: none;
}

.note {
  display: flex;
  overflow: auto;
  margin: 0.5em;
  padding: 0.3em;
  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
}

.note:hover {
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);
  transition: .6s;
}

.note .value {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
  flex-grow: 1;
}

.note .editable {
  float: left;
}

.note .delete {
  float: right;
  padding: 0;
  background-color: #fdfdfd;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.note:hover .delete {
  visibility: visible;
  margin-left: .4em;
}
